

/*Textos*/
.tituloDesc{
    color: #FFA45B;
    margin: 15px 5px 5px 5px;
}
.productDesc{  
    
    width: 300px; 
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    margin: 20px;
    border: 2px dotted;
    border-radius: 5px;
    color: #5EAAA8;
    font-weight: bold;
    text-align: left;
    line-height: 1.6;
    background-color:azure; 

  }
  
/*Valor Precio y Descripciones*/
.precioDesc{color: #FFA45B;
    margin-left: 15px;
    margin-top: 25px;
    display: block;
}